{% extends "website/base.html" %}
{% load static %}
{% load website_tags %}

{% block body_class %}class="pagina-index"{% endblock %}
{% block conteudo %}
  <div class="links-principais container-fluid">
    <ul class="list-inline item-divider iris">
      <li>
        <a class="btn" href="{% url 'website:agenda' %}">
          <img src="{% static 'img/icons/calendaricon.svg' %}" alt="Ícone de calendário" />
          agenda da semana
        </a>
      </li>
      <li>
        <a class="btn" href="{% url 'website:tramitabot' %}">
          <img src="{% static 'img/icons/telegram-logo.svg' %}" alt="Ícone do telegram" />
          tramitabot
        </a>
      </li>
    </ul>
  </div>
  <!-- BUSCA E ORDENACAO DE PLS-->
  <form id="filtros" method="get">
    <div class="barra-busca container">
      <div class="row">
        <div class="col-sm-8">
          <div class="input-group full-width">
	    {{ filter_form.q }}
            <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="input-group full-width">
	    {{ filter_form.ordem }}
          </div>
        </div>
      </div>
    </div>
  <!-- BUSCA E ORDENACAO DE PLS -->

  <div class="divider-horizontal thick"></div>

  <div class="conteudo-principal container">
    <div class="row">
      <!-- FILTROS -->
      <div class="pls-filtros col-sm-4 col-md-3">
        <a class="btn btn-default full-width" href="?">
          <strong>limpar filtros</strong>
        </a>

        <br /><br />

        <h2 class="section-title">navegar por</h2>
        <div class="divider-horizontal"></div>

        <h3>origem</h3>
        <div class="filtro-origem button-group filtro-lateral">
	  {{ filter_form.origem }}
        </div>
        <br /><br />
        <div class="divider-horizontal"></div>

        <h3>comissão</h3>
        <div class="filtro-comissao input-group full-width  filtro-lateral">
	  {{ filter_form.comissao }}
        </div>
        <br />
        <div class="divider-horizontal"></div>

        <h3>categoria</h3>
        <div class="filtro-categoria button-group filtro-lateral">
	  {{ filter_form.categoria }}
        </div>
        <br /><br />
        <div class="divider-horizontal"></div>

        <h3>impacto</h3>
        <p class="detalhe">por mais ou menos direitos</p>
        <div class="filtro-impacto button-group filtro-lateral">
	  {{ filter_form.impacto }}
        </div>
      </div>
  </form>

      <!-- FILTROS -->

      <!-- LISTA DE PLS -->
      <div class="col-sm-8 col-md-9">
        <h2 class="section-title">projetos de lei</h2>
        <div class="divider-horizontal"></div>

	{% for projeto in projetos %}
        <!-- ITEM PLS -->
        <div class="pls-item {% if projeto.arquivado %}archived{% endif %}">
          <div class="pull-right pls-icones">
	    {% for tag in projeto.object.tags.all %}
	    {% with icon_path="img/icons/"|add:tag.slug|add:"-icon.svg" %}
	    {# O nome do arquivo do ícone deve ser o 'slug' da categoria #}
            <img src="{% static icon_path %}" data-toggle="tooltip" title="{{ tag.nome }}" />
	    {% endwith %}
	    {% endfor %}
	    {% if projeto.object.get_impacto_display == '🙂️' %}
            <img src="{% static 'img/icons/face-happy-icon.svg' %}" data-toggle="tooltip" title="Bom" />
	    {% elif projeto.object.get_impacto_display == '😐' %}
            <img src="{% static 'img/icons/face-medium-icon.svg' %}" data-toggle="tooltip" title="Atenção: pode ameaçar direitos" />
	    {% elif projeto.object.get_impacto_display == '🙁' %}
            <img src="{% static 'img/icons/face-unhappy-icon.svg' %}" data-toggle="tooltip" title="Ruim" />
	    {% endif %}
	    {% if projeto.object.urgente %}
            <img src="{% static 'img/icons/lightningicon.svg' %}" data-toggle="tooltip" title="Urgente" />
	    {% endif %}
	    {% if projeto.object.arquivado %}
	    <img src="{% static 'img/icons/archiveicon.svg' %}" data-toggle="tooltip" title="Arquivado" />
      {% endif %}
      {% if projeto.object.promulgado %}
	    <img src="{% static 'img/icons/promulgatedicon.svg' %}" data-toggle="tooltip" title="Promulgado" />
	    {% endif %}
          </div>
          <h3><a href="{{ projeto.object.get_absolute_url }}">{{ projeto.object.nome }}</a></h3>
	  <p class="pls-data">
	    <strong>Apresentação:</strong> {{ projeto.object.apresentacao }} |
	    <strong>Última atualização:</strong> {{ projeto.object.ultima_atualizacao }}
	  </p>
          <div class="pls-descricao">
	    <a href="{{ projeto.object.get_absolute_url }}">
              <p>{{ projeto.object.ementa }}</p>
	    </a>
          </div>
        </div>
	{% empty %}
	<p>Não existem resultados para essa busca.</p>
	{% endfor %}
        <!-- ITEM PLS -->

        <!-- PAGINACAO -->
	{% if is_paginated %}
        <nav class="text-center" aria-label="Navegação de páginas">
          <ul class="pagination">
	    {% if page_obj.has_previous %}
            <li class="page-item">
              <a href="{% change_url_parameter request 'page' page_obj.previous_page_number %}" class="page-link" tabindex="-1" aria-label="Anterior">
                  <span aria-hidden="true">«</span>
                  <span class="sr-only">anterior</span>
              </a>
            </li>
            {% else %}
            <li class="page-item disabled" aria-label="Anterior">
                <a class="page-link" tabindex="-1" aria-label="Anterior">
                  <span aria-hidden="true">«</span>
                  <span class="sr-only">anterior</span>
                  </a>
            </li>
	    {% endif %}
      {% for page_number in page_obj.paginator.page_range %}
        {% if page_obj.number == page_number %}
        <li class="page-item">
          <a href="{% change_url_parameter request 'page' page_number %}" class="page-link active">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
          <a href="{% change_url_parameter request 'page' page_number %}" class="page-link">{{ page_number }}</a>
        </li>
        {% endif %}
	    {% endfor %}
	    {% if page_obj.has_next %}
            <li class="page-item">
              <a href="{% change_url_parameter request 'page' page_obj.next_page_number %}" class="page-link" aria-label="Próxima">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">próxima</span>
              </a>
            </li>
            {% else %}
            <li class="page-item disabled" aria-label="Próxima">
                <a class="page-link" aria-label="Próxima">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">próxima</span>
                </a>
            </li>
	    {% endif %}
          </ul>
        </nav>
	{% endif %}
        <!-- PAGINACAO -->
      </div>
    </div>
  </div>
  <div class="divider-horizontal"></div>
{% endblock conteudo %}

{% block scripts_extra %}
  <script src="{% static 'js/forms.js' %}"></script>
  <script src="{% static 'js/tooltips.js' %}"></script>
{% endblock %}


