//** Load fonts from this directory.
@font-path:          "../fonts/";

/* Avenir */
@avenir-path:   "avenir/";

@font-face {
  font-family: 'Avenir';
  src: url('@{font-path}@{avenir-path}Avenir-Medium.eot');
  src: url('@{font-path}@{avenir-path}Avenir-Medium.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{avenir-path}Avenir-Medium.woff') format('woff'),
    url('@{font-path}@{avenir-path}Avenir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Black Oblique';
  src: url('@{font-path}@{avenir-path}Avenir-BlackOblique.eot');
  src: url('@{font-path}@{avenir-path}Avenir-BlackOblique.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{avenir-path}Avenir-BlackOblique.woff') format('woff'),
    url('@{font-path}@{avenir-path}Avenir-BlackOblique.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('@{font-path}@{avenir-path}Avenir-MediumOblique.eot');
  src: url('@{font-path}@{avenir-path}Avenir-MediumOblique.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{avenir-path}Avenir-MediumOblique.woff') format('woff'),
    url('@{font-path}@{avenir-path}Avenir-MediumOblique.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('@{font-path}@{avenir-path}Avenir-Heavy.eot');
  src: url('@{font-path}@{avenir-path}Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{avenir-path}Avenir-Heavy.woff') format('woff'),
    url('@{font-path}@{avenir-path}Avenir-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('@{font-path}@{avenir-path}Avenir-HeavyOblique.eot');
  src: url('@{font-path}@{avenir-path}Avenir-HeavyOblique.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{avenir-path}Avenir-HeavyOblique.woff') format('woff'),
    url('@{font-path}@{avenir-path}Avenir-HeavyOblique.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('@{font-path}@{avenir-path}Avenir-Oblique.eot');
  src: url('@{font-path}@{avenir-path}Avenir-Oblique.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{avenir-path}Avenir-Oblique.woff') format('woff'),
    url('@{font-path}@{avenir-path}Avenir-Oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('@{font-path}@{avenir-path}Avenir-Black.eot');
  src: url('@{font-path}@{avenir-path}Avenir-Black.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{avenir-path}Avenir-Black.woff') format('woff'),
    url('@{font-path}@{avenir-path}Avenir-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('@{font-path}@{avenir-path}Avenir-LightOblique.eot');
  src: url('@{font-path}@{avenir-path}Avenir-LightOblique.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{avenir-path}Avenir-LightOblique.woff') format('woff'),
    url('@{font-path}@{avenir-path}Avenir-LightOblique.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('@{font-path}@{avenir-path}Avenir-Light.eot');
  src: url('@{font-path}@{avenir-path}Avenir-Light.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{avenir-path}Avenir-Light.woff') format('woff'),
    url('@{font-path}@{avenir-path}Avenir-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('@{font-path}@{avenir-path}Avenir-Roman.eot');
  src: url('@{font-path}@{avenir-path}Avenir-Roman.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{avenir-path}Avenir-Roman.woff') format('woff'),
    url('@{font-path}@{avenir-path}Avenir-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Book';
  src: url('@{font-path}@{avenir-path}Avenir-Book.eot');
  src: url('@{font-path}@{avenir-path}Avenir-Book.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{avenir-path}Avenir-Book.woff') format('woff'),
    url('@{font-path}@{avenir-path}Avenir-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Book';
  src: url('@{font-path}@{avenir-path}Avenir-BookOblique.eot');
  src: url('@{font-path}@{avenir-path}Avenir-BookOblique.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{avenir-path}Avenir-BookOblique.woff') format('woff'),
    url('@{font-path}@{avenir-path}Avenir-BookOblique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Avenir Next */
@avenir-next-path:   "avenir-next/";

@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('@{font-path}@{avenir-next-path}AvenirNextCondensed-Regular.eot');
  src: url('@{font-path}@{avenir-next-path}AvenirNextCondensed-Regular.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{avenir-next-path}AvenirNextCondensed-Regular.woff') format('woff'),
    url('@{font-path}@{avenir-next-path}AvenirNextCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('@{font-path}@{avenir-next-path}AvenirNext-Italic.eot');
  src: url('@{font-path}@{avenir-next-path}AvenirNext-Italic.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{avenir-next-path}AvenirNext-Italic.woff') format('woff'),
    url('@{font-path}@{avenir-next-path}AvenirNext-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('@{font-path}@{avenir-next-path}AvenirNext-HeavyItalic.eot');
  src: url('@{font-path}@{avenir-next-path}AvenirNext-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{avenir-next-path}AvenirNext-HeavyItalic.woff') format('woff'),
    url('@{font-path}@{avenir-next-path}AvenirNext-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('@{font-path}@{avenir-next-path}AvenirNext-Bold.eot');
  src: url('@{font-path}@{avenir-next-path}AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{avenir-next-path}AvenirNext-Bold.woff') format('woff'),
    url('@{font-path}@{avenir-next-path}AvenirNext-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('@{font-path}@{avenir-next-path}AvenirNext-MediumItalic.eot');
  src: url('@{font-path}@{avenir-next-path}AvenirNext-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{avenir-next-path}AvenirNext-MediumItalic.woff') format('woff'),
    url('@{font-path}@{avenir-next-path}AvenirNext-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Demi';
  src: url('@{font-path}@{avenir-next-path}AvenirNext-DemiBoldItalic.eot');
  src: url('@{font-path}@{avenir-next-path}AvenirNext-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{avenir-next-path}AvenirNext-DemiBoldItalic.woff') format('woff'),
    url('@{font-path}@{avenir-next-path}AvenirNext-DemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('@{font-path}@{avenir-next-path}AvenirNext-Regular.eot');
  src: url('@{font-path}@{avenir-next-path}AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{avenir-next-path}AvenirNext-Regular.woff') format('woff'),
    url('@{font-path}@{avenir-next-path}AvenirNext-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('@{font-path}@{avenir-next-path}AvenirNext-BoldItalic.eot');
  src: url('@{font-path}@{avenir-next-path}AvenirNext-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{avenir-next-path}AvenirNext-BoldItalic.woff') format('woff'),
    url('@{font-path}@{avenir-next-path}AvenirNext-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('@{font-path}@{avenir-next-path}AvenirNext-Heavy.eot');
  src: url('@{font-path}@{avenir-next-path}AvenirNext-Heavy.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{avenir-next-path}AvenirNext-Heavy.woff') format('woff'),
    url('@{font-path}@{avenir-next-path}AvenirNext-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Ultra';
  src: url('@{font-path}@{avenir-next-path}AvenirNext-UltraLightItalic.eot');
  src: url('@{font-path}@{avenir-next-path}AvenirNext-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{avenir-next-path}AvenirNext-UltraLightItalic.woff') format('woff'),
    url('@{font-path}@{avenir-next-path}AvenirNext-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Ultra';
  src: url('@{font-path}@{avenir-next-path}AvenirNext-UltraLight.eot');
  src: url('@{font-path}@{avenir-next-path}AvenirNext-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{avenir-next-path}AvenirNext-UltraLight.woff') format('woff'),
    url('@{font-path}@{avenir-next-path}AvenirNext-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('@{font-path}@{avenir-next-path}AvenirNext-Medium.eot');
  src: url('@{font-path}@{avenir-next-path}AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{avenir-next-path}AvenirNext-Medium.woff') format('woff'),
    url('@{font-path}@{avenir-next-path}AvenirNext-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Demi';
  src: url('@{font-path}@{avenir-next-path}AvenirNext-DemiBold.eot');
  src: url('@{font-path}@{avenir-next-path}AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{avenir-next-path}AvenirNext-DemiBold.woff') format('woff'),
    url('@{font-path}@{avenir-next-path}AvenirNext-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Helvetica */
@helvetica-path:   "helvetica/";

@font-face {
  font-family: 'Helvetica';
  src: url('@{font-path}@{helvetica-path}Helvetica-LightOblique.eot');
  src: url('@{font-path}@{helvetica-path}Helvetica-LightOblique.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{helvetica-path}Helvetica-LightOblique.woff') format('woff'),
    url('@{font-path}@{helvetica-path}Helvetica-LightOblique.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('@{font-path}@{helvetica-path}Helvetica-BoldOblique.eot');
  src: url('@{font-path}@{helvetica-path}Helvetica-BoldOblique.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{helvetica-path}Helvetica-BoldOblique.woff') format('woff'),
    url('@{font-path}@{helvetica-path}Helvetica-BoldOblique.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica';
  src: url('@{font-path}@{helvetica-path}Helvetica-Light.eot');
  src: url('@{font-path}@{helvetica-path}Helvetica-Light.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{helvetica-path}Helvetica-Light.woff') format('woff'),
    url('@{font-path}@{helvetica-path}Helvetica-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('@{font-path}@{helvetica-path}Helvetica.eot');
  src: url('@{font-path}@{helvetica-path}Helvetica.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{helvetica-path}Helvetica.woff') format('woff'),
    url('@{font-path}@{helvetica-path}Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('@{font-path}@{helvetica-path}Helvetica-Oblique.eot');
  src: url('@{font-path}@{helvetica-path}Helvetica-Oblique.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{helvetica-path}Helvetica-Oblique.woff') format('woff'),
    url('@{font-path}@{helvetica-path}Helvetica-Oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica';
  src: url('@{font-path}@{helvetica-path}Helvetica-Bold.eot');
  src: url('@{font-path}@{helvetica-path}Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{helvetica-path}Helvetica-Bold.woff') format('woff'),
    url('@{font-path}@{helvetica-path}Helvetica-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Helvetica Neue */
@helvetica-neue-path:   "helvetica-neue/";

@font-face {
  font-family: 'Helvetica Neue';
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue.eot');
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue.woff') format('woff'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue-CondensedBold.eot');
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue-CondensedBold.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue-CondensedBold.woff') format('woff'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue-CondensedBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue-Thin.eot');
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue-Thin.woff') format('woff'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue-CondensedBlack.eot');
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue-CondensedBlack.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue-CondensedBlack.woff') format('woff'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue-CondensedBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue-ThinItalic.eot');
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue-ThinItalic.woff') format('woff'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue-Light.eot');
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue-Light.woff') format('woff'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue-Italic.eot');
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue-Italic.woff') format('woff'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue-Medium.eot');
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue-Medium.woff') format('woff'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue-MediumItalic.eot');
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue-MediumItalic.woff') format('woff'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue-UltraLightItalic.eot');
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue-UltraLightItalic.woff') format('woff'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue-UltraLightItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue-BoldItalic.eot');
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue-BoldItalic.woff') format('woff'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue-LightItalic.eot');
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue-LightItalic.woff') format('woff'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue-UltraLight.eot');
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue-UltraLight.woff') format('woff'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue-UltraLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue-Bold.eot');
  src: url('@{font-path}@{helvetica-neue-path}HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue-Bold.woff') format('woff'),
    url('@{font-path}@{helvetica-neue-path}HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
