.pagina-pl {
  .alerta-pl-urgente {
    background-color: @light-khaki;
    text-align: center;
    padding: 10px;

    img {
      height: 16px;
    }

    .chamada {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .cabecalho-pl {
    padding-top: 44px;
    padding-bottom: 24px;

    h1 {
      font-family: Avenir;
      font-weight: 900;
      font-size: 24px;
      line-height: 30px;
      margin-top: 0;
    }

    .subtitulo-pl {
      font-family: Georgia;
      font-size: 18px;
      font-style: italic;
    }

    .icones img {
      padding: 0px 2px;
      height: 20px;
    }
  }

  .metadados-pl {
    padding-top: 16px;
    padding-bottom: 16px;

    .row > div {
      padding: 20px;
    }

    h4 {
      font-size: 11px;
      margin: 5px 0;
    }
  }

  .conteudo-pl {
    margin-top: 30px;
    margin-bottom: 60px;

    p {
      margin-top: 12px;
      margin-left: 6px;
    }
  }

  .divisor-cruz {
    background-color: @old-grey;
  }

  .tramitacoes .row {
    padding: 10px 0px;

    &> div:first-child {
      text-align: left;
    }

    @media only screen and (min-width: @screen-sm-min) {
      padding: 0px;

      [class*="col-"] {
        padding: 26px 46px;
        vertical-align: middle;
      }
    }

    .data {
      font-family: Avenir;
      font-weight: 900;
    }

    p {
      margin: 0;
    }
  }

  .pl-acao {
    background-color: @coral;
    padding-top: 80px;
    padding-bottom: 200px;

    img.acao {
      height: 32px;
    }

    h2 {
      color: @black;
      font-family: "Avenir Book";
      font-size: 16px;
      margin-bottom: 60px;
    }

    h3 {
      color: @dark-cream;
      font-family: Avenir;
      font-size: 11px;
      font-weight: 900;
      line-height: 2.09;
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }

    blockquote {
      color: @white;
      font-family: Georgia;
      font-size: 17px;
      font-style: italic;
      line-height: 1.35;
      letter-spacing: 0.4px;
      padding: 24px 15px;
      border-radius: 8px;
      border: solid 1px #de8686;
    }

    .botao-compartilhar {
      padding-right: 14px;
    }

    .instrucoes {
      color: @light-grey-coral;
      font-family: "Helvetica Neue";
      font-size: 10px;
      line-height: 14px;
    }

    .divider {
      padding-right: 60px;
      margin-right: 60px;
    }
  }
}